// colors
$black:     #000000;
$white:     #ffffff;
$brown:     #312d2e;
$gray:      #ebebeb;
$blue:      #8fafbf;
$blue-dark: #162f4c;

// font sizes
$small:     16px;
$medium:    18px;
$large:     24px;
$jumbo:     60px;
