.mobile-navigation-container {
  position: relative;
  .nav-toggle {
    &--open, &--close {
      cursor: pointer;
      font-size: rem($large);
      position: absolute;
      right: 30px;
      top: 50px;
      z-index: 10;
    }
    &--hidden {
      display: none;
    }
  }
  nav {
    @include transition();
    background: #8fafbf;
    height: auto;
    padding-top: 150px;
    position: absolute;
    right: 0;
    top: -35px;
    width: 100%;
    z-index: 3;
    a {
      color: $white;
      display: block;
      font-size: rem($medium2);
      padding: 20px 0;
      text-transform: uppercase;
    }
    li {
      border-bottom: 1px solid $white;
      &:last-child {
        border-bottom: 0;
      }
    }
    ul {
      margin: 0 40px;
    }
    .member-options {
      background: $white;
      margin: 20px 40px 0;
      padding: 0 0 20px;
      a {
        color: $blue-dark;
      }
      li {
        border-top: 1px solid $blue;
        margin: 0 20px;
        &:first-child {
          border-top: 0;
        }
      }
      .tel {
        font-weight: 600;
      }
    }
    &.js-nav-hidden {
      top: -700px;
    }
  }
}